<% layout('layouts/boilerplate') %>

<% if(currentUser && currentUser.isAdmin){ %>
    <div class="container">
        <div class="row dugme mb-3 justify-content-center">
            <a href="/akcije/<%= akcija._id %>/edit" class="btn mr-5">Izmeni akciju</a>

            <form action="/akcije/<%= akcija._id %>?_method=DELETE" method="POST">
                <button class="btn">Obrisi akciju</button>
            </form>
        </div>
    </div>
<% } %>

<section class="akcija">
    <!-- Intro -->
    <div class="intro bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="text-center mb-3">
                        <%= akcija.title %>
                    </h3>

                    <p class="lead" style="white-space: pre-wrap;"><%= akcija.introduction %></p>
                </div>
                <div class="col-md-6">
                    <img src="/images/akcije/<%= akcija.image %>" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>

    <!-- Opis dogadjaja -->
    <div class="opis">
        <div class="container">
            <h2>Opis akcije</h2>
            <p class="lead" style="white-space: pre-wrap;"><%= akcija.description %></p>
            <h6 class="lead text-right"><%= akcija.date %></h6>
        </div>
    </div>
</section>

<section class="komentari mb-3">
    <div class="container">
        
        <% if(currentUser){ %>
            <!-- Forma za novi komentar -->
            <form action="/akcije/<%= akcija._id %>/komentari" method="POST" class="needs-validation" novalidate>
                <div class="form-group">
                    <label class="form-label" for="body">Ostavite komentar</label>
                    <textarea class="form-control" id="body" name="komentar[body]" rows="3" maxlength="250" required></textarea>
                </div>
                <button class="btn">Pošalji komentar</button>
            </form>
        <% } else{  %>
            <h3>Ulogujte se i ostavite komentar</h3>
        <% } %>
        <h3 class="mt-4 mb-3">Komentari</h3>

        <!-- Prikaz komentara -->
        <% for(let komentar of akcija.komentari.reverse()) { %>
            <div class="card mt-2">
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-muted"><%= komentar.author.username %></h6>
                    <p class="card-text"><%= komentar.body %></p>
                    <% if(currentUser && komentar.author.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                        <form action="/akcije/<%= akcija._id %>/komentari/<%= komentar._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-sm"> Obriši komentar </button>
                        </form>
                    <% } %>
                </div>
            </div>
        <% } %>
    </div> 
</section>