<% layout('layouts/boilerplate') %>

<div class="container">
    <!-- Dugme -->
    <% if(currentUser && currentUser.isAdmin){ %>
        <div class="row dugme mb-3 justify-content-center">
            <a href="/clanovi/<%= clan._id %>/edit" class="btn mr-5">Izmeni člana</a>

            <form action="/clanovi/<%= clan._id %>?_method=DELETE" method="POST">
                <button class="btn">Obriši člana</button>
            </form>
        </div>
    <% } %>

    <div class="row">
        <div class="col-lg-6">
            <img src="/images/clanovi/<%= clan.image %>" alt="">
        </div>
        <div class="col-lg-6">
            <div class="content">
            <!-- Ime i prezime -->
            <h1><%= clan.title %></h1>
            <!-- Funkcija -->
            <h3><%= clan.funkcija %></h3>
            <hr>
    
            <!-- Osnovne infromacije -->
            <h4>Osnovne informacije</h4>
            <p style="white-space: pre-wrap;"><%= clan.osnovne_informacije %></p>
            <hr>
    
            <!-- Rotaract iskustvo -->
            <h4>Rotarak iskustvo</h4>
            <p style="white-space: pre-wrap;"><%= clan.rotaract_iskustvo %></p>
            <hr>
    
            <!-- Obrazovanje -->
            <h4>Obrazovanje</h4>
            <p style="white-space: pre-wrap;"><%= clan.obrazovanje %></p>
            <hr>
    
            <!-- Radno iskustvo -->
            <h4>Radno iskustvo</h4>
            <p style="white-space: pre-wrap;"><%= clan.radno_iskustvo %></p>
            <hr>
            
            <!-- Interesovanja -->
            <h4>Interesovanja</h4>
            <p style="white-space: pre-wrap;"><%= clan.interesovanja %></p>
            </div>
        </div>
    </div>
</div>

