<% layout('layouts/boilerplate') %>

<section class="dogadjaj">
        <!-- Intro -->
        <div class="intro mt-4 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="text-center mb-3">
                            <%= dogadjaj.title %>
                        </h3>
    
                        <p class="lead" style="white-space: pre-wrap;"><%= dogadjaj.introduction %></p>
                    </div>
                    <div class="col-md-6">
                        <img src="/images/slider/NGkoncert.jpg" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    
        <!-- Opis dogadjaja -->
        <div class="opis">
            <div class="container">
                <h2>Opis dogadjaja</h2>
                <p class="lead" style="white-space: pre-wrap;"><%= dogadjaj.description %></p>
                <h6 class="lead text-right"><%= dogadjaj.date %></h6>
            </div>
        </div>

        <a href="/dogadjaji">Back</a>
        <br>
        <a href="/dogadjaji/<%= dogadjaj._id %>/edit">edit</a>

        <form action="/dogadjaji/<%= dogadjaj._id %>?_method=DELETE" method="POST">
            <button>Delete</button>
        </form>
</section>
