<% layout('layouts/boilerplate') %>

<div class="container">
    <h2><%= title %></h2>
    <form action="/dogadjaji/<%= dogadjaj._id %>?_method=PUT" method="POST">
        <!-- Title -->
        <div class="form-group">
            <label for="title">Naziv</label>
            <input type="text" class="form-control" id="title" name="dogadjaj[title]" value="<%= dogadjaj.title %>" required>
        </div>
    
        <!-- Introduction -->
        <div class="form-group">
            <label for="introduction">Uvodni tekst</label>
            <textarea  type="text" class="form-control" id="introduction" name="dogadjaj[introduction]" rows="3" required><%= dogadjaj.introduction %></textarea>
        </div>
    
        <!-- description -->
        <div class="form-group">
            <label for="description">Opis dogadjaja</label>
            <textarea type="text" class="form-control" id="description" name="dogadjaj[description]" rows="3" required><%= dogadjaj.description %></textarea>
        </div>
    
         <!-- Date -->
         <div class="form-group">
            <label for="date">Datum</label>
            <textarea type="text" class="form-control" id="date" name="dogadjaj[date]" rows="1" required><%= dogadjaj.date %></textarea>
        </div>

        <!-- Dugme -->
        <button type="submit" class="btn">Izvrši izmenu</button>
    </form>
</div>
